

<strong>Boat:</strong>
<%= @boat.name %>
<br>
<br>
<strong>Number of Containers:</strong>
<%= @boat.containers %>
<br>
<br>
<strong>Location:</strong>
<%= @boat.location %>

<button><%= link_to 'Profile', user_path(current_user) %></button>